<div class="sidebar d-flex flex-column h-100" [ngClass]="{
      'sidebarOpen': expanded,
      'sidebarClose': !expanded
      }">
  <div class="d-flex justify-content-center align-items-center px-3 gap-4 header_sidebar">
    <p-button icon="pi pi-bars fs-2" aria-label="toggleSidebar" styleClass="sidebar_custom_btn"
      (click)="toggleSidebar()">
    </p-button>
    <img alt="logo sidebar" src="images/Logo-Sidebar.svg">
  </div>
  <ul class="list-unstyled flex-grow-1">
      <li class="mb-2" *ngFor="let item of menu">
        <a class="text-decoration-none d-flex ps-5 align-items-center" [routerLink]="item.menuLink"
          routerLinkActive="active">
          <i [class]="item.icon" class="menu-icon"></i>
          <span *ngIf="expanded">{{item.title|translate}}</span>
        </a>
      </li>


    </ul>
    <ul class="list-unstyled">
      <li class="mb-2 border-bottom-0 border-top">
        <a class="text-decoration-none d-flex ps-5  align-items-center" routerLink="/test"
        routerLinkActive="active">
        <i class="pi pi-question-circle fs-3 menu-icon"></i>
        <span *ngIf="expanded">{{'sidebar.Help'|translate}}</span>
      </a>
    </li>
    </ul>

</div>

