.sidebar {
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  border-inline-end: 2px solid #00000033;

  .header_sidebar {
    padding-top: 20px;
    border-bottom: 2px solid #00000033;
  }

  & a i {

    background: #FFEDDF;
    padding: 8px;
    border-radius: 10px;
    color: black;
    width: 45px;
    text-align: center;

  }

  & ul li {
    padding-block: 24px;

    &:not(:last-child) {
      border-bottom: 2px solid #00000033;
    }

    span {
      transition: opacity 0.6s ease-in-out;
      font-weight: 700;
      font-style: Bold;
      font-size: 18px;
      margin-inline-start: 10px;
    }
  }
}

.sidebarOpen {
  width: 200px;

  & ul li {
    & a {
      margin-inline-start: 30px;
    }

    & span {
      opacity: 1;
      color: black
    }
  }
}

.sidebarClose {
  width: 140px;

  & ul li {
    & a {
      flex-direction: column;
    }
    & span {
      opacity: 0;
    }
  }
}

a.active i {
  background: black !important;
  border-radius: 10px;
  color: #FFEDDF !important;
}
