<section class="auth mt-5">
  <h6 class="mt-1">{{"auth.header_resetPass" | translate}}</h6>
  <div>
    <form [formGroup]="resetForm" class="regForm" (ngSubmit)="register(resetForm)">
      <!-- email -->
      <label class="from-label"> {{"auth.Registered email address"| translate}}</label>
      <p-iconfield class="w-100">
        <p-inputicon styleClass="pi pi-envelope" />
        <input type="email" pInputText placeholder="{{'auth.Placeholder_email'|translate}}" class="w-100"
          formControlName="email" />
      </p-iconfield>
      <!-- otp -->
      <label class="form-label">{{"auth.OTP"| translate}}</label>
      <p-iconfield class="w-100">
        <p-inputicon styleClass="pi pi-key pass-icon" />
        <input type="text" pInputText placeholder="{{'auth.Placeholder_otp'|translate}}" class="w-100"
          formControlName="otp" />
      </p-iconfield>
      <!-- password -->
      <label class="form-label">{{"auth.Enter_Password"| translate}}</label>
      <p-iconfield class="w-100">
        <p-inputicon styleClass="pi pi-key pass-icon"></p-inputicon>
        <p-password [toggleMask]="true" formControlName="password"
          placeholder="{{'auth.Placeholder_password'|translate}}">
        </p-password>
      </p-iconfield>

      <!-- footer form -->
      <div class="d-flex justify-content-between flex-wrap mt-3 form-buttons">
        <p-button [label]="'auth.Reset' | translate" icon="pi pi-verified" iconPos="right" styleClass="my-custom-btn"
          type="submit" [disabled]="resetForm.invalid"></p-button>
        <p class="mt-2"> {{"auth.Forget password" |translate}} ?<a routerLink="/ForgetPassword">{{"auth.click"
            |translate}}</a></p>
      </div>
    </form>

  </div>
</section>
