<div class="p-4 text-center quiz-code">
  <span><i class="pi pi-check"></i></span>
  <p class="my-2">Quiz was successfully created</p>
  <p-inputgroup>
      <p-inputgroup-addon class="inputlabel">{{ "code" }}</p-inputgroup-addon>
    <input pInputText [(ngModel)]="code"/>
    <p-inputgroup-addon>
      <p-button
        severity="secondary"
        pButton
        icon="pi pi-copy"
        (click)="copyText()"
        tooltip="Copy"
      />
    </p-inputgroup-addon>
  </p-inputgroup>
  <div class="text-center mt-2">
    <button class="code-button" (click)="close()">Close</button>
  </div>
</div>
