<section>
  <div class="d-flex justify-content-between dialouge-title">
    <div class="w-75 px-4 title">
      <p class="mb-0" *ngIf="data">{{"add_quiz.Update Your quiz" |translate}}</p>
      <p class="mb-0" *ngIf="!data">{{ 'add_quiz.title' | translate }}</p>
    </div>
    <div class="header-buttton px-3">
      <button (click)="AddNewQuiz()">
        <i class="pi pi-check" style="color: black"></i>
      </button>
    </div>
    <div class="header-buttton px-3">
      <button (click)="close()">
        <i class="pi pi-times" style="color: black"></i>
      </button>
    </div>
  </div>
  <div class="py-3 input-wrapper mt-2">
    <form [formGroup]="addQuizForm">
      <!-- Title -->
      <div>
        <p-inputgroup class="my-4">
          <p-inputgroup-addon class="inputlabel">{{ 'add_quiz.quiz_title' | translate }}</p-inputgroup-addon>
          <input pInputText id="on_label" formControlName="title" />
        </p-inputgroup>
      </div>
      <!-- lists -->
      <div class="d-flex justify-content-between align-items-center">
        <div class="card flex justify-center">
          <p-select  formControlName="duration"
            [options]="durations"
            display="chip"
            class="w-100 position-relative"
            [ngClass]="currentLang === 'en' ? 'select-en' : 'select-ar'" 
            />
          <p
            class="input-label px-1 d-flex align-items-center justify-content-center"
            [ngClass]="
              currentLang === 'en' ? 'input-label-en' : 'input-label-ar'
            "
          >
            {{ 'add_quiz.duration' | translate }}
          </p>
        </div>
        <div class="card flex justify-center mx-2">
            <p-select  formControlName="questions_number"
            [options]="questionsNumbers"
            display="chip"
            class="w-100 position-relative"
            [ngClass]="currentLang === 'en' ? 'select-en' : 'select-ar'" 
            />
          <p
            class="input-label px-1 d-flex align-items-center justify-content-center"
            [ngClass]="
              currentLang === 'en' ? 'input-label-en' : 'input-label-ar'
            "
          >
            {{ 'add_quiz.number_of_questions' | translate }}
          </p>
        </div>
        <div class="card flex justify-center">
            <p-select  formControlName="score_per_question"
            [options]="scoresPerQuestion"
            display="chip"
            class="w-100 position-relative"
            [ngClass]="currentLang === 'en' ? 'select-en' : 'select-ar'" 
            />
          <p
            class="input-label px-1 d-flex align-items-center justify-content-center"
            [ngClass]="
              currentLang === 'en' ? 'input-label-en' : 'input-label-ar'
            "
          >
            {{ 'add_quiz.score_per_question' | translate }}
          </p>
        </div>
      </div>
      <!-- text area -->
      <div class="card flex justify-center my-2">
        <textarea rows="2" cols="30" pTextarea  formControlName="description"></textarea>
        <p
          class="input-label px-1 d-flex align-items-center justify-content-center"
          [ngClass]="currentLang === 'en' ? 'input-label-en' : 'input-label-ar'"
        >
          {{ 'add_quiz.description' | translate }}
        </p>
      </div>
      <!-- date -->
      <div class="card flex justify-center my-2">
        <p-datepicker inputId="calendar-12h" [showTime]="true"  formControlName="schadule"/>
        <p
          class="input-label px-1 d-flex align-items-center justify-content-center"
          [ngClass]="currentLang === 'en' ? 'input-label-en' : 'input-label-ar'"
        >
         {{ 'add_quiz.schedule' | translate }}
        </p>
      </div>
      <!-- lists -->
      <div class="d-flex justify-content-between align-items-center">
        <div class="card flex justify-center">
          <p-select  formControlName="difficulty"
            [options]="difficulties"
            display="chip"
            class="w-100 position-relative"
            [ngClass]="currentLang === 'en' ? 'select-en' : 'select-ar'" 
            />
          <p
            class="input-label px-1 d-flex align-items-center justify-content-center"
            [ngClass]="
              currentLang === 'en' ? 'input-label-en' : 'input-label-ar'
            "
          >
            {{ 'add_quiz.difficulty_level' | translate }}
          </p>
        </div>
        <div class="card flex justify-center mx-2">
          <p-select  formControlName="type"
            [options]="categories"
            display="chip"
            class="w-100 position-relative"
            [ngClass]="currentLang === 'en' ? 'select-en' : 'select-ar'" 
            />
          <p
            class="input-label px-1 d-flex align-items-center justify-content-center"
            [ngClass]="
              currentLang === 'en' ? 'input-label-en' : 'input-label-ar'
            "
          >
            {{ 'add_quiz.category_type' | translate }}
          </p>
        </div>
           <div class="card flex justify-center">
        <p-select
          formControlName="group"
          [options]="listGroup"
          optionLabel="name"
          optionValue="_id"
          display="chip"
          class="w-100 position-relative"
          [ngClass]="currentLang === 'en' ? 'select-en' : 'select-ar'"
        />
        <p
          class="input-label px-1 d-flex align-items-center justify-content-center"
          [ngClass]="currentLang === 'en' ? 'input-label-en' : 'input-label-ar'"
        >
         {{ 'add_quiz.group_name' | translate }}
        </p>
      </div>
      </div>
    </form>
  </div>
</section>
