section {
  position: relative;
}
.dialouge-title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-bottom: 1px solid #d6d6d6;

  .title {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
}

.header-buttton {
  border-left: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  button {
    border: none;
    background-color: unset;
    i {
      font-weight: 800;
      font-size: 20px;
    }
  }
}

.inputlabel{
  background-color: var(--color-beige) !important;
  color: black !important;
  font-size: 14px;
  font-weight: 500;
}

.input-label{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: fit-content;
  z-index: 9999999;
  border-radius: 5px 0 0 5px;
  background-color: var(--color-beige) !important;
  color: black !important;
  border-right: 1px solid #d6d6d6;
  font-size: 14px;
  font-weight: 500;
}

.input-wrapper {
  z-index: 99999;
}

p-multiselect{
  height: 40px;
  padding-left: 98px;
}

:host ::ng-deep .p-dynamic-dialog-mask {
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

