<section class="auth">
  <h6 class="mt-5">Forgot Password</h6>
  <div>
    <form [formGroup]="forgotten" (ngSubmit)="Reminder()">
      <label for="" class="from-label">{{"auth.Registered email address"|translate}}</label>
      <p-iconfield>
        <p-inputicon styleClass="pi pi-envelope"></p-inputicon>
        <input
          type="text"
          pInputText
          placeholder="Type your email"
          class="w-75"
          formControlName="email"
        />
      </p-iconfield>

      <div
        *ngIf="forgotten.get('email')?.invalid && forgotten.get('email')?.touched"
        class="text-danger"
      >
        <small *ngIf="forgotten.get('email')?.errors?.['required']">
          Email is required
        </small>
        <small *ngIf="forgotten.get('email')?.errors?.['email']">
          Please enter a valid email
        </small>
      </div>

      <div class="lower d-flex justify-content-between align-items-center  form-buttons w-75  mt-4">
        <p-button
          [label]="'auth.Send Email' |translate"
          icon="pi pi-send"
          iconPos="right"
          styleClass="my-custom-btn"
          type="submit"
          [disabled]="forgotten.invalid"
        ></p-button>
        <p class="link mb-0">{{"auth.Sign In" |translate}}? <a routerLink="/LogIn">{{"auth.click"|translate}}</a></p>
      </div>
    </form>
  </div>
</section>
