<section>
  <div class="d-flex  justify-content-between dialouge-title">
    <div class="w-75 px-4 title">
      <p class="mb-0" *ngIf="data">{{"question.Update"| translate}}</p>
      <p class="mb-0" *ngIf="!data">{{"question.Add"|translate}}</p>
    </div>
    <div class="d-flex justify-content-between">
      <div class="header_button px-3">
        <button type="button" title="close" class="border-0" (click)="save()">
          <i class="pi pi-check text-black save"></i>
        </button>
      </div>
      <div class="header_button px-3">
        <button type="button" title="close" class="border-0" (click)="close()">
          <i class="pi pi-times text-black close"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="py-3 input-wrapper mt-2">
    <form [formGroup]="createQuestionForm" (ngSubmit)="save()">
      <!-- title -->
      <p-inputgroup class="my-4">
        <p-inputgroup-addon class="inputlabel">{{"question.title" |translate}}</p-inputgroup-addon>
        <input title="title question" type="text" pInputText formControlName="title"
          placeholder="{{'question.Placeholder_title'|translate}}" />
      </p-inputgroup>
      <!-- Description -->
      <p-inputgroup class="my-4">
        <p-inputgroup-addon class="inputlabel">{{"question.Description" |translate}}</p-inputgroup-addon>
        <input title="description question" pInputText formControlName="description"
          placeholder="{{'question.Placeholder_description'|translate}}" />
      </p-inputgroup>
      <!-- answers -->
      <div class="row">
        <!-- Right answer -->
        <div class="col-lg-4">
          <p-inputgroup class="my-4">
            <p-inputgroup-addon class="inputlabel">{{"question.RightAnswer" |translate}}</p-inputgroup-addon>
            <p-select [options]="options" optionValue="name" formControlName="answer" optionLabel="name"
              placeholder="{{'question.Placeholder_select'|translate}}" class="w-full md:w-56" />
          </p-inputgroup>
        </div>
        <!-- type -->
        <div class="col-lg-4">
          <p-inputgroup class="my-4">
            <p-inputgroup-addon class="inputlabel">{{"question.CategoryType" |translate}}</p-inputgroup-addon>
            <p-select [options]="type" optionValue="code" formControlName="type" optionLabel="name"
              placeholder="{{'question.Placeholder_selectType'|translate}}" class="w-full md:w-56" />
          </p-inputgroup>
        </div>
        <!-- Difficulty level -->
        <div class="col-lg-4">
          <p-inputgroup class="my-4">
            <p-inputgroup-addon class="inputlabel">{{"question.DifficultyLevel" |translate}}</p-inputgroup-addon>
            <p-select [options]="level" optionValue="code" formControlName="difficulty" optionLabel="name"
              placeholder="{{'question.Placeholder_selectDifficulty'|translate}}" class="w-full md:w-56" />
          </p-inputgroup>
        </div>
      </div>
      <!-- option answer -->
      <div class="row" formGroupName="options">
        <!-- A -->
        <div class="col-md-6">
          <p-inputgroup class="my-4">
            <p-inputgroup-addon class="inputlabel">{{"question.options.A" |translate}}</p-inputgroup-addon>
            <input title="name" pInputText formControlName="A" />
          </p-inputgroup>
        </div>
        <!-- B -->
        <div class="col-md-6">
          <p-inputgroup class="my-4">
            <p-inputgroup-addon class="inputlabel">{{"question.options.B" |translate}}</p-inputgroup-addon>
            <input title="name" pInputText formControlName="B" />
          </p-inputgroup>
        </div>
        <!-- C -->
        <div class="col-md-6">
          <p-inputgroup class="my-4">
            <p-inputgroup-addon class="inputlabel">{{"question.options.C" |translate}}</p-inputgroup-addon>
            <input title="name" pInputText formControlName="C" />
          </p-inputgroup>
        </div>
        <!-- D -->
        <div class="col-md-6">
          <p-inputgroup class="my-4">
            <p-inputgroup-addon class="inputlabel">{{"question.options.D" |translate}}</p-inputgroup-addon>
            <input title="name" pInputText formControlName="D" />
          </p-inputgroup>
        </div>
      </div>
    </form>
  </div>
</section>
