section {
  direction: ltr;
  text-align: left;
  position: relative;
}
.dialouge-title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-bottom: 1px solid #d6d6d6;

  .title {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
}

.header_button {
  border-left: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  button {
    border: none;
    background-color: unset;
      transition: all 0.3s ease;
    i {
      font-weight: 800;
      font-size: 20px;
    }
    &:hover {
      i.save{
        color: green !important;
      }
      i.close{
        color: red !important;
      }
    }
  }
}

.inputlabel{
  background-color: var(--color-beige) !important;
  color: black !important;
  font-size: 14px;
  font-weight: 500;
}

.input-label-en{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100px;
  z-index: 9999999;
  border-radius: 5px 0 0 5px;
  background-color: var(--color-beige) !important;
  color: black !important;
  border-right: 1px solid #d6d6d6;
  font-size: 14px;
  font-weight: 500;
}

.input-label-ar{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100px;
  z-index: 9999999;
  border-radius: 5px 5px 0 0;
  background-color: var(--color-beige) !important;
  background-color: red;
  color: black !important;
  border-left: 1px solid #d6d6d6;
  font-size: 14px;
  font-weight: 500;
}

.input-wrapper {
  z-index: 99999;
}

.select-en{
  height: 40px;
  padding-left: 98px;
}

.select-ar{
  height: 40px;
  padding-right: 98px;
}

:host ::ng-deep .p-dynamic-dialog-mask {
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

// .save{
//   background-color: var(--color-beige) !important ;
//   color: var(--color-black) !important;
//   border-color: transparent !important;
//   border-radius: 15px !important ;
// }
