<section class="auth">
  <h6 class="mt-5">Continue your learning journey with QuizWiz!</h6>
  <div>
    <div class="login-buttons my-4  d-flex">
    <a routerLink="LogIn"><img src="/images/Vector (3).png" alt=""><p>Sign in</p></a>
    <a routerLink="Register"><img src="/images/Vector (4).png" alt=""><p>Sign Up</p></a>
    </div>
    <form [formGroup]="LoginForm" (ngSubmit)="login(LoginForm)">
  <label for="" class="from-label">Registered email address</label>
   <p-iconfield>
      <p-inputicon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Search" />
  </p-iconfield> 
  <div class="d-flex justify-content-between flex-wrap mt-3 form-buttons w-75">
    <button>Sign In</button>
    <p>Forgot password? <a> LogIn now</a></p>
  </div>
    </form>
  </div>
</section>
