@import "primeicons/primeicons.css";

:root {
  --color-beige: #ffeddf;
  --color-light-green: #c5d86d;
  --color-white: #f5f5f5;
  --dark-gray: #333333;
}

.auth {
  max-height: 100vh;
  h6 {
    color: var(--color-light-green);
    font-size: 24px;
    font-weight: 500;
  }

  label {
    color: var(--color-white);
    font-size: 16px;
    margin-top: 20px;
  }

  input {
    background-color: transparent !important;
    border: 2px solid var(--color-white) !important;
    border-radius: 5px !important;
    color: var(--color-white) !important;
  }

  input::placeholder {
    color: var(--color-white);
  }

  .p-inputicon {
    color: var(--color-white) !important;
  }
}

.my-custom-btn {
  background-color: white !important;

  .p-button-icon {
    color: black;
  }

  .p-button-label {
    color: black;
  }
}

.my-custom-btn:hover {
  background-color: var(--color-light-green) !important;
  transition: all 1s;
}

.sidebar_custom_btn{
  background-color: transparent !important;
  border-color: transparent !important;
  color: #000 !important;
}

// menu

$bg-main: #000;
$bg-hover: gray;
$text-main: #fff;
$text-light: #ffffffcf;
$border-color: #333;

.custom-dropdown-panel {
  background: $bg-main !important;
  color: $text-main !important;
  border: 1px solid $border-color;

  .p-select-option {
    color: $text-light !important;
    background: transparent !important;
    border: 1px solid $border-color;

    &:hover,
    &.p-select-option-selected,
    &.p-select-option-selected:hover {
      background: $bg-hover !important;
      color: $text-main !important;
    }

    &.p-focus {
      outline: none !important;
      background: transparent !important;
    }
  }
}

.p-password .p-password-overlay {
    background-color: black;
    color: aliceblue;
}
